<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<title>VisTEDS</title>
		<link rel="icon" href="/static/Image/visTEDS.png?v=<%=version%>">

		<link rel="canonical" href="http://vis-teds.agawork.tw" />
		<meta property="og:url" content="http://vis-teds.agawork.tw" />

		<meta name="description" content="台灣空汙排放源統計 TEDS9.0 視覺化"/>
		<meta property="og:description" content="台灣空汙排放源統計 TEDS9.0 視覺化" />
		<meta property="og:site_name" content="VisTEDS" />
		<meta property="og:locale" content="zh_TW" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="VisTEDS" />
		<meta property="og:image" content="/static/Image/visTEDS.png?v=<%=version%>" />

		<meta http-equiv="Content-Language" content="zh-tw" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/build/css/main.css?v=<%=version%>">
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false&key=AIzaSyBUGDJex2sQeScb1Wxcm7oiPGwdmyoLhHM"></script>

		<div id="map"></div>
		
		<div class="menu-container center">
			<img class="menu-icon" src="/static/Image/visTEDS.png?v=<%=version%>">
			<div class="menu-bt" onclick="OpenControlPanel();">設定</div>
			<div class="menu-bt" onclick="OpenStatisticPanel();">統計</div>
			<div class="menu-bt" onclick="OpenAboutPanel();">關於</div>
		</div>

		<div id="controlPanel">
			<div class="close-bt" onclick="CloseControlPanel();">X</div>
			<div class="map-control">
				<div>
					汙染源:
					<select id="selectSource">
						<option value="SUM" selected>加總</option>
						<option value="POINT">點源</option>
						<option value="LINE">線源</option>
						<option value="AREA">面源</option>
						<option value="BIO">生物源</option>
						<option value="NH3">氨源</option>
					</select>
				</div>
				<div>
					汙染物:
					<select id="selectPollute">
						<option value="TSP">總懸浮微粒(TSP)</option>
						<option value="PM10">PM10</option>
						<option value="PM6">PM6</option>
						<option value="PM25" selected>PM2.5</option>
						<option value="SOX">硫氧化物(SOx)</option>
						<option value="NOX">氮氧化物(NOx)</option>
						<option value="THC">總碳氫有機氣體(THC)</option>
						<option value="NMHC">非甲烷碳氫有機氣體(NMHC)</option>
						
						<option value="EXHC">碳氫化合物尾氣排放</option>
						<option value="EHC">碳氫化合物蒸發損失</option>
						<option value="RHC">碳氫化合物行駛損失</option>
						<option value="RST">碳氫化合物停等損失</option>
						<option value="BIO_NMHC">生物源非甲烷碳氫有機氣體</option>
						<option value="ISO">異戊二烯(Isoprene)</option>
						<option value="MONO">單帖類(Monoterpenes)</option>
						<option value="ONMHC">其他非甲烷碳氫有機氣體</option>
						<option value="MBO">甲基-丁烯-醇(Methyl-Buten-Ol)</option>

						<option value="CO">一氧化碳(CO)</option>
						<option value="PB">鉛(PB)</option>
						<option value="NH3">氨(NH3)</option>
					</select>
				</div>

				<div class="group">
					著色尺度:<input type="range" id="sensitive" min="1" max="5000" step="1" value="2000">
					<span id="sensLabel">2000</span> 公噸/年
				</div>
              
			</div>
		</div>

		<div id="detailPanel" class="detail-panel">
			<div class="close-bt" onclick="CloseDetailPanel();">X</div>
			<div class="detail-info"></div>
		</div>

		<div id="statisticPanel" class="detail-panel">
			<div class="close-bt" onclick="CloseStatisticPanel();">X</div>
		</div>

		<div id="aboutPanel" class="detail-panel">
			<div class="close-bt" onclick="CloseAboutPanel();">X</div>
			<div class="detail-info">
				<h2 class="center">關於 VisTEDS</h2>
				<div class="center-p">
					<p>TEDS(Taiwan Emission Data System)為環保署統計的台灣全年空污源排放資料，這個專案針對TEDS9.0 的資料(2013年)做視覺化呈現。</p>
					<p>相關連結: </p>
					<ul>
						<li><a href="https://teds.epa.gov.tw/" target="_blank">環保署TEDS網站</a></li>
						<li><a href="https://github.com/aga3134/VisTEDS" target="_blank">網站開源程式碼</a></li>
						<li><a href="http://agawork.tw/" target="_blank">其他專案</a></li>
						<li>若您對本站有任何建議或合作需求，歡迎來信討論 aga3134@gmail.com</li>
					</ul>
				</div>
			</div>
		</div>
		
        <script src="/static/mapGraph.js?v=<%=version%>"></script>
		<script src="/static/main.js?v=<%=version%>"></script>
	</body>
</html>